<app-primary-button
  buttonTitle="Clientes"
  [primaryHover]="true"
  iconTitle="pi pi-plus-circle"
  (click)="showDialog()"
/>

<p-dialog
  [(visible)]="visible"
  [baseZIndex]="10000"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto' }"
  [dismissableMask]="true"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '48rem', height: '35rem' }"
  styleClass="bg-[#f9faff]!"

>

  <ng-template #header>
    <div class="flex  flex-col w-full">
      <h1 class="text-2xl font-semibold">Cadastrar cliente</h1>
      <span class="text-muted-color">Informe os dados para salvar um novo cliente</span>
    </div>
  </ng-template>


  <form
    [formGroup]="clientForm"

    class="grid grid-cols-2 gap-5 h-full items-start">
    <div class="flex flex-col gap-4 bg-primary-contrast p-4 rounded-lg">
      <div class="flex gap-0.5 flex-col">
        <label class="font-semibold" for="username">Nome</label>
        <input
          formControlName="name"
          autocomplete="off" id="username" pInputText/>

        @if (nameErrors()) {
          <small class="items-center flex gap-1 text-red-500" >
            <i class="pi pi-exclamation-circle text-xs!"></i>
            {{nameErrors()}}
          </small>
        }
      </div>

      <div class="flex gap-0.5 flex-col">
        <label class="font-semibold" for="phone-number">Contato</label>
        <p-inputmask formControlName="phoneNumber" type="tel"
                     id="phone-number"
                     mask="(99) 99999-9999"/>

        @if (phoneErrors()) {
          <small class="items-center flex gap-1 text-red-500" >
            <i class="pi pi-exclamation-circle text-xs!"></i>
            {{phoneErrors()}}
          </small>
        }
      </div>

      <div class="flex gap-0.5 flex-col">
        <label class="font-semibold" for="username">Observações</label>
        <textarea formControlName="observation" cols="30" pTextarea rows="5"></textarea>
      </div>

      <div class="flex gap-0.5 flex-col">
        <app-primary-button
        iconTitle="pi pi-calendar-plus"
        buttonTitle="Agendar este cliente"
        [primaryHover]="true"
        />
      </div>

    </div>



    <div>
      <app-profile-preview-form
        [nameClient]="getProperty('name')"
        [numberClient]="getProperty('phoneNumber')"
        [observationClient]="getProperty('observation')"
      />
    </div>
    <p-button
        label="Clientes"
        iconPos="right"
        severity="secondary"
        icon="pi pi-plus-circle"
        size="small"
        styleClass="flex! absolute! bottom-5! right-5! bg-primary-700! text-primary-contrast! item-center hover:opacity-90! transition-opacity!"
      />

  </form>
</p-dialog>
