<div class="bg-white rounded-xl shadow h-[23.5rem] flex flex-col p-5"
     header="Serviços selecionados">

  <div>
    <h1 class="font-medium text-xl mb-3">Serviços Selecionados</h1>
  </div>

  <div class="flex-1! overflow-y-auto!">
    @if (services.length > 0) {
      <div class="flex flex-col gap-2">
        @for (service of services; track service.id) {
          <app-service-item
            [priceService]="service.price"
            [titleService]="service.name"
          />
        }
      </div>
    } @else {
      <div class="flex items-center gap-1 justify-center h-full">
        <i class="pi pi-exclamation-circle text-xs!"></i>
        <span class="text-muted-color text-xs">Nenhum serviço adicionado ainda</span>
      </div>
    }
  </div>


  <p-divider class="my-2"/>

  <div class="flex justify-between items-center">
    <h1 class="text-xl font-semibold">Total</h1>
    <span class="text-xl font-semibold">R$ 240,00</span>
  </div>
</div>
